.save-money-container {
  position: relative;
  overflow: hidden;
  height: 520px;

  .save-money-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
  }

  .save-money {
    height: 100%;
    padding: 49px 0;

    .save-money-left {
      width: 520px;

      h3 {
        line-height: 48px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
      }

      h1 {
        line-height: 160px;
        color: #ffffff;
        font-size: 160px;
        font-weight: 600;
      }

      p {
        line-height: 22px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 300;
        opacity: 0.7;
        width: 270px;
      }
    }
    .save-money-right {
      width: 350px;
      form {
        .form-group {
          margin-bottom: 20px;
          label {
            color: rgb(255, 255, 255);
            font-size: 17px;
            font-weight: 300;
          }
          input {
            width: 100%;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            font-size: 17px;
            font-weight: 300;
            height: 50px;
            padding: 20px;
            outline: none;
          }
        }
        .radio-group {
          .radio-title {
            color: rgb(255, 255, 255);
            padding-bottom: 5px;
            font-size: 12px;
            line-height: 1.55;
            font-weight: 300;
          }
          label {
            font-size: 17px;
            font-weight: 400;
            color: rgb(255, 255, 255);
          }
          input[type="radio"] {
            /* Hide the default radio button */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            margin-right: 5px;
            cursor: pointer;
          }

          input[type="radio"]:checked {
            background-color: #ffffff;
          }
        }
        button {
          margin-top: 15px;
          padding: 0 15px;
          display: block;
          width: 160px;
          font-weight: 400;
          height: 48px;
          color: #fff;
          border: 2px solid #ffffff;
          border-radius: 2px;
          font-size: 17px;
          background-color: transparent;
        }
        button:hover {
          background-color: #fff;
          color: black;
          transition: 0.3s ease all;
        }
      }
      p {
        line-height: 22px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .save-money-container {
    height: 100%;

    .save-money-tablet {
      .save-money-tablet-title {
        line-height: 22px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 300;
        opacity: 0.7;
        width: 240px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .save-money-container {
    height: 100%;

    .save-money {
      .save-money-right {
        width: 70%;
        form {
          button {
            margin: 40px 0;
            display: block;
            width: 160px;
            font-weight: 400;
            height: 48px;
            color: #fff;
            border: 2px solid #ffffff;
            border-radius: 2px;
            font-size: 17px;
            background-color: transparent;
          }
          button:hover {
            background-color: #fff;
            color: black;
            transition: 0.3s ease all;
          }
        }
        p {
          line-height: 22px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          opacity: 0.5;
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .save-money-container {
    height: 100%;

    .save-money {
      .save-money-left {
        width: 100%;

        h3 {
          line-height: 31px;
          font-size: 24px;
        }

        h1 {
          line-height: 104px;
          font-size: 104px;
        }

        p {
          line-height: 22px;
          color: #ffffff;
          font-size: 17px;
          font-weight: 300;
          opacity: 0.7;
          width: 270px;
        }
      }


      .save-money-right {
        width: 100%;
        p {
          line-height: 22px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          opacity: 0.5;
        }
      }
    }
  }
}
