.video-container {
  position: relative;
  overflow: hidden;
  height: 750px;
  //padding-bottom: 49px;
  .swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //object-fit: cover;
    z-index: -1;
    //background: rgb(154,143,132);
    //background: linear-gradient(90deg, rgba(154,143,132,1) 0%, rgba(206,202,198,1) 35%, rgba(197,193,193,1) 100%);

    .background-video {
      //min-width: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

header {
  margin: 35px 0;
  img {
    width: 180px;
    height: 540px;
  }
  .header-texts {
    height: 100%;
    width: 600px;
    color: white;
    p {
      transform-origin: center center;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      letter-spacing: 32px;
      text-transform: uppercase;
      background-position: center center;
    }
    h3 {
      transform-origin: center center;
      font-size: 44px;
      line-height: 52px;
      font-weight: 500;
      background-position: center center;
      word-break: normal;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      -webkit-text-size-adjust: 100%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .video-container {
    height: 500px;
    .swiper {
      .background-video {
        object-fit: fill;
      }
    }
  }
  header {
    margin-bottom: 15px;
    img {
      width: 126px;
      height: 373px;
    }
    .header-texts {
      display: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .video-container {
    .swiper {
      .background-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  header {
    margin-bottom: 15px;
    img {
      width: 98px;
      height: 340px;
    }
  }
}
