* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Вы можете изменить уровень прозрачности по желанию */
  z-index: 998; /* Чуть меньше, чем у вашего меню */
}


@media (max-width: 2174px) and (min-width: 2000px) {
  .container {
    padding: 0 30px;
    max-width: 2000px;
  }
}

@media (max-width: 1974px) and (min-width: 1900px) {
  .container {
    padding: 0 50px;
    max-width: 1900px;
  }
}

@media (max-width: 1890px) and (min-width: 1800px) {
  .container {
    padding: 0 50px;
    max-width: 1800px;
  }
}

@media (max-width: 1790px) and (min-width: 1700px) {
  .container {
    padding: 0 50px;
    max-width: 1700px;
  }
}

@media (max-width: 1550px) and (min-width: 1536px) {
  .container {
    padding: 0 30px;
    max-width: 1536px;
  }
}

@media (max-width: 1300px) and (min-width: 1280px) {
  .container {
    padding: 0 30px;
    max-width: 1280px;
  }
}

@media (max-width: 1040px) and (min-width: 1025px) {
  .container {
    padding: 0 30px;
    max-width: 1025px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 30px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
}
